.outer{
    background-image: url('https://cdn.discordapp.com/attachments/1216979871138320384/1216981438503718943/cute-cats-eating-together-outdoors_23-2148683022.png?ex=660b97c9&is=65f922c9&hm=6ca848849e13b50c26e46288b9f3df71d9dc01c6571ab0aee15784d282b4d425&');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    height: 30vh; /* 设置高度为网页高度的20% */
    width: 100%; /* 设置宽度为100% */
   

}
.productProfile{
       
    h1{
        border-bottom: 5px solid #ffb300;
    }
    h5{
        font-weight: 600;
    }
    .btn{
        font-weight: bold;
        &:hover{
            color: #fff;
        }
    }
    .btn-primary{
        color: #fff;
    }
}
.rules-list{
    li{
        list-style: none;
        margin-bottom: 5px;
    }
}