.contentMargin{
    margin-top: 100px;
}
.productProfile{
       
    h1{
        border-bottom: 5px solid #ffb300;
    }
    h5{
        font-weight: 600;
    }
    .btn{
        font-weight: bold;
        &:hover{
            color: #fff;
        }
    }
    .btn-primary{
        color: #4e4e4e;
    }
    .cardBtn{
        border: #4e4e4e solid 1px;
        color: #4e4e4e;
        &:hover{
            color: #4e4e4e;
            font-weight: 700;
        }
    }
}
.rules-list{
    li{
        list-style: none;
        margin-bottom: 5px;
    }
}